*{
	font-family: 'Montserrat', sans-serif;
}
.labelName{
	
	display: block;
    padding: 15px 6px 10px;
    background: rgba(0,0,0,.5);
    color: #f9f9f9;
    text-align: left;
    border-radius: 3px;

}