*{
  font-family: 'Montserrat', sans-serif;

}
nav.menuNav{
  overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width:280px;
	height: 100vh;
	background: #194e76;
  transition: all .3s;
}
div.menuAdmin{
  border-left: 1px solid rgba(0,0,0,0.2);
  cursor: pointer;
  padding: 0px !important;

}
.imgProfile{
  height: 70px;
    width: 70px;
    border-radius: 50%;
    background-origin: content-box;
    background-size: cover;
    background-position: center;
    border: 2px solid #164265;
    margin: 0 auto;
}
nav.menuNav ul li a{
	padding: 10px 4px;
	color: #f9f9f9;
	display: block;
	text-align: left;
	border-bottom: 1px solid rgba(0,0,0,.2);
	transition: all .3s;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
}
nav.menuNav ul li a:hover{
	background: #164265  ;
	text-decoration: none;
	padding-left: 6px;
}

tr.noReport td:nth-child(1){
  border-left: 4px solid #fb5252 !important;
}
tr.Report td:nth-child(1){

  border-left: 4px solid #21c551 !important
}
.porfileInfo{

  display: block;
  border-bottom: 1px solid rgba(0,0,0,.4);
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 0px 5px;

}
div.msg{
  padding: 10px;
  background: #0000ff26;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.1);
}
/*COLORES*/
.cGreen{ color: green; }
.cOrange{ color: orange; }
.cRed{ color: red; }

.mTop5{
   margin-top: 8px !important;
}
.contentCheck{  
  padding: 5px;
  margin-top: 5px;
  display: inline-block;
}
.cRed{
  color: tomato;
}
.mtop5{
  margin-top: 5px;
}
.passNoValid{
  border: 1px solid #ff6b6b !important;
  background: #fdcaca !important;
}
.haAuto{
	height: auto !important;
	transition: all .3s !important;
}
ul{
	transition: all .3s !important;
}
.delte{
  color: tomato !important;
  font-size: 20px !important;
  cursor: pointer;
}
.toggleMenu{
  position: absolute;
  right: -38px;
  background: #31383e;
  padding: 10px 13px;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

div.pointG{
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 5px;

	border-radius: 50px;
	background: green;
}
#menu{
	width: 250px;
	background: #31383e;
	display: block;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;	
	overflow: hidden;
	transition: all .3s;
}
.w0{
	width: 0px !important;

}
input[type=search] {
	padding: 3px;
	border-radius: 2px;
	border: 1px solid #ccc;
}
.left0{
	left: 0px !important;
}

#menu li a{
	display: block;
	padding: 7px 7px 7px 15px;
	box-sizing: border-box;
	border-bottom: .5px solid rgba(255, 255, 255, .2);
	text-decoration: none;
	color: #f9f9f9;
	font-weight: 500;
	font-size: 14px;
	transition: all .3s;
}
nav.contentMenu{
	background: red !important;

	width: 250px;
	position: relative;
	transition: all .3s;

}
#menu li a:hover{
	color: #b01c2e;
}
.hover{
	color: #b01c2e !important;
}
.right{
	float: right;
}
.iconListMenu{
	margin-right: 8px;
}
.menuDisplay{
	height: auto !important;
	overflow: visible;
}
ul.submenu{
	height: 0px;
	transition: all .3s;
	overflow: hidden;
	transition: all .3s;
}
ul.submenu li a{
	padding: 8px 25px !important;
	background: rgba(0,0,0,.1);
	font-size: 12px !important;
	border-bottom: .5px solid red;
}
.panelContainer{
	margin-left: 250px;
	padding: 35px 20px;
	transition: all 0.3s;
	background: #fbfafa;
}
.ml0{
	margin-left: 0px !important;
}
.containerTable{
	width: 100%;
    border: 2px solid #eee;
    padding: 10px;
    border-radius: 3px;
    background: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
}
.title{
	font-size: 24px;
    font-weight: 600;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 10px 0px;
    padding: 5px 0px;
    color: #33323a;
}
.containerTable table thead tr td{
	

      border-bottom: 2px solid #ccc;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    height: 30px;
    background: #f5f5f5;
    padding: 7px;

}
.containerTable table tbody tr th{
	border-bottom: 1px solid #f6f6f6;
	font-size: 14px;
	text-align: center;
	height: 30px;
	font-weight: 500;
}
.containerTable table tbody tr:hover{
	background: #f9f9f9;
}
.containerTable table tbody tr th:hover{
	background: #f0f0f0;
}
table tfoot tr th{
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	height: 40px;
}
table{
	width: 100%;
	width: 100%;
    border: 0px;
}

.buttonDelete{
	padding: 5px 8px;
    border: none;
    background: #d32f2f;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
.buttonAdd:hover{
	background: #d69b00;	
}

#bgBlack, .bgBlack{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	z-index: 10;
}
#bgBlack2{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 10;

}
.bgBlackSpiner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
  z-index: 10;
}
.closeModal{
	position: absolute;
	top: 10px;
	right: 15px;
	color: #fff;
	z-index: 12;
	cursor: pointer;
	padding: 8px 10px;
	background: #b01c2e;
	border-radius: 3px;
}
#contentProd li {
  list-style: none;
  
}
ul.list-report{
  list-style: none;
}
ul.list-report li a{
  padding-top: 3px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #ccc;
  background: #ffb900a3;
  font-size: 12px;
  color: #fff;

}
a.report:hover > ul.list-report{
  display: inline-block !important;
}
.buttonTab{
    background-color: #afafaf;
    position: relative;
    border-bottom: 1px solid #fff;
    color: #fbfafa;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 5px 33px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid #eff0f2;
    display: inline-block;
}
button.buttonTab:before{
        content: " ";
    width: 19px;
    height: 39px;
    /* background-color: red; */
    display: inline-block;
    position: absolute;
    right: -2px;
    bottom: -5px;
    border-right: 24px solid #fbfafa;
    /* border-top: 11px solid red; */
    border-bottom: 35px solid transparent;
    overflow: hidden;
}
.modal{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    z-index: 22;
    border-radius: 5px;
    width: 600px; 
    
    box-shadow: 3px 3px 20px #434141;

    height: auto;
    max-height: 90vh;
}
.containerPanel{
  box-sizing: border-box;
  background: #f9f9f9;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.2);
overflow: auto;
  display: block;
  height: 100vh;
  margin-left: 18%;
  padding: 10px;
  box-sizing: border-box;
  transition: all .3s;
  
}
.extend{
    margin-left: 4% !important;
}
.headModal, .mainModal, .headContent, .mainContent{
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.mainContent{
  /**max-width: 650px;**/
  height: auto !important;
}
.mainModal{
  max-height: 72vh;
  overflow: scroll;
}
.footerModal{
  border-top: .5px solid rgba(0,0,0,.2);

  padding: 10px 15px;
  background: rgba(0,0,0,.1);
  padding: 7px 0px 7px 7px;
}

.titileModal{
	margin: 0px;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 2px solid #3f3e43;
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: 600;
    /* text-transform: uppercase; */
    color: #3f3e43;

}
.inputStyle:focus{
  border: 1px solid #b9b9b9;
  box-shadow: 2px 2px 6px #b9b9b9;
}
.inputStyle, .textarea{
	width: 100%;
    height: 40px;
    border-radius: 3px;
    outline: none;
    padding: 1px 9px;
    color: #000 !important;
    border: 1px solid #adb1b3;
    transition: all .2s;
}
/**TABS STYLE**/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.tab {
     padding: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background: #fff;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color: #888;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #ccc;
    margin-top: -5px;
    border-radius: 3px;

}
.tabActive{

      background-color: #31383e;
}
.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
}
.tabs li {
  float: left;
  line-height: 25px;
  overflow: hidden;
  padding: 0;
  position: relative;
  background: red;
}


li.current a{
      border-left: 1px solid #ccc;
    /* color: #fff !important; */
    /* background: blue !important; */
    padding: 5px;
    border-top: 2px solid blue;
    background-color: #f9f9f9;
    width: 100px;
    text-align: center;
    color: #000;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #f9f9f9;

}
.current:before{
  color: #fff !important;
  background: blue !important;
  border-bottom: 27px solid blue;
}
.disabled{
background: rgba(0,0,0,.1);
 
}
.tabs a { 
    border-top: 2px solid #fff;

  background-color: #ffff;
  border-bottom: 1px solid #ccc;
  color: #888;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 5px;
  background-color: white;
  width: 100px;
}

.tabs_item {
  display: none;
  padding: 30px 0;
  border:1px solid #777777 !important;
  border-radius: 3px; 
  max-width: 900px;
}
.tabs_item h4 {
  font-weight: bold;
  color: blue;
  font-size: 20px;
}
.tabs_item img {
  width: 200px;
  float: left;
  margin-right: 30px;
}
.tabs_item:first-child {
  display: block;
}



@media screen and (max-width: 480px) {
  .tabs {
    display: none;
  }
  .tab_drawer_heading {
    background-color: #ccc;
    color: #fff;
    border-top: 1px solid #333;
    margin: 0;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .d_active {
    background-color: #666;
    color: #fff;
  }
}

ul#suggesstion-box, ul.drivers-box{
  list-style: none;
  border-radius: 3px;
  overflow: hidden;


}
ul#suggesstion-box li, ul.drivers-box li{
  cursor: pointer;
  transition: all .1s;
  padding: 2px;

}
ul#suggesstion-box li:hover,
ul.drivers-box li:hover{
  background: #337ab7;
  color: #fff;

}
.titleForm{
  background: #f6f6f6;
  padding: 20px;
  margin: 0px;
  text-align: center;
  font-size: 16px;
} 

/****/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/***/

select.selectEmploye > option:nth-child(1){
  background: #ccc;

}

/****/
.containerLogin{
  width: 100%;
  height: 100vh;
  background: #ccc;
  display: block;
  position: relative;
}

.formLogin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 500px;
  width: 100%;
  height: auto;
  background: #f6f6f6;
  padding: 0px; 
  text-align: center;
}
.formLogin h4{
  color: #fff;
  padding: 15px;
  background: #323a45;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
}

.formLogin > input.input{
  padding: 10px;
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
        border: 1px solid #d2d2d2;
    background: #e0dede;
    transition: all .1s;
}
.formLogin > input.input:fucus{
    box-shadow: 2px 2px 4px #a5a5a5;

}

.formLogin > input.button{

    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
   
}


.mainContainer{
  padding: 10px;

}

.w50{
  width: 50px;
  text-align: center;
}
.w60{
  width: 60px !important;
}
.w100{
  width: 100%;
  display: inline-block;
}

.adjustli{
  display: flex !important;
    align-items: center;
    justify-content: stretch;
    align-content: space-between;
}

.adjust{
   display: inline-flex !important;
    align-items: center;
    justify-content: stretch;
    align-content: space-between; 
}

/**estilos del spiner**/
.spinner {
  position: absolute;
    top: 50%;
    z-index: 15;
    width: 100%;
    margin: 0 auto;
    left: 0;
    text-align: center;}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #194e76;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}